<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->



<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<div [ngClass]='container'>
  <h1>Fill the form</h1>
  <input [type]="text" [placeholder]="placeName" [(ngModel)]="username">
  <br>
  <input [type]="number" [placeholder]="placeAge" [(ngModel)] = "age" (keyup)="checkEligible()">
  <br>
  <div *ngIf="isEligible;then eligible; else notEligible;">
</div>

<ng-template #eligible>You are Eligible to vote</ng-template>
<ng-template #notEligible>You are not eligible to vote</ng-template>
<br>
  <br>
  <input [type]="url" [placeholder]="placeImageUrl" [(ngModel)] = "imageUrl">
  <br>
  <button (click)="save()">Save</button>
  <div *ngIf="isValid">
    <h2  [ngClass]='container'>Welcome {{username}},</h2>
    <img src="{{ imageUrl }}" alt="Not loaded" srcset="">
    <h3 appLoginSucess>"Sucessfully logged in!"</h3>
  </div>
</div>
<router-outlet></router-outlet>
